<%- include ./_partials/header.ejs %>

<div class="slider">
    <ul class="slides">
      <li>
        <img src="https://image.tmdb.org/t/p/original/55LP95aktZlGn2uRKO15qEUrIfU.jpg">
        <div class="caption center-align">
          <h3>Welcome to Found Footage</h3>
          <h5 class="light grey-text text-lighten-3">We don't know how but you've found us! Now start finding new movies to watch.</h5>
        </div>
      </li>
      <li>
        <img src="https://image.tmdb.org/t/p/original/dU1CArBM4YsKLfG8YvhtuTJJaGR.jpg"> 
        <div class="caption left-align">
          <h3>Discover Movies</h3>
          <h5 class="light grey-text text-lighten-3">by searching individual movies or viewing user's curated movie lists.</h5>
        </div>
      </li>
      <li>
        <img src="https://image.tmdb.org/t/p/original/3xMOfKkLLPyGbCdK84jV8H9V52f.jpg"> 
        <div class="caption center-align">
          <h3>Sign Up</h3>
          <h5 class="light grey-text text-lighten-3">Login with Google to create and share your own movie lists.</h5>
        </div>
      </li>
      <!-- <li>
        <img src="https://image.tmdb.org/t/p/original/8vA6dxBzRqSajvqdmTLtoguAa3T.jpg">
        <div class="caption right-align">
          <h3>Right Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li> -->
    </ul>
  </div>


<!-- good will
https://image.tmdb.org/t/p/original/8vA6dxBzRqSajvqdmTLtoguAa3T.jpg -->
<!-- 
nemo
https://image.tmdb.org/t/p/original/3xMOfKkLLPyGbCdK84jV8H9V52f.jpg -->


<%- include ./_partials/footer.ejs %>