<%- include ./_partials/header.ejs %>

<div class="slider">
  <ul class="slides">
    <li>
      <img src="https://image.tmdb.org/t/p/original/55LP95aktZlGn2uRKO15qEUrIfU.jpg">
      <div class="caption center-align">
        <h3>Welcome to Found Footage</h3>
        <h5 class="light grey-text text-lighten-3">We don't know how but you've found us!<br>Now start finding new movies to watch.</h5>
      </div>
    </li>
    <li>
      <img src="https://image.tmdb.org/t/p/original/dU1CArBM4YsKLfG8YvhtuTJJaGR.jpg"> 
      <div class="caption left-align">
        <h3>Discover Movies</h3>
        <h5 class="light grey-text text-lighten-3">by searching individual movies or viewing user's curated movie lists.</h5>
      </div>
    </li>
    <li>
      <img src="https://image.tmdb.org/t/p/original/3xMOfKkLLPyGbCdK84jV8H9V52f.jpg"> 
      <div class="caption center-align">
        <h3>Sign Up</h3>
        <h5 class="light grey-text text-lighten-3">Login with Google to create and share your own movie lists.</h5>
      </div>
    </li>
  </ul>
</div>

<div class="row">
  <div class="col s4">
    <div class="center-promo">
      <i class="material-icons">youtube_searched_for</i>
      <p class="promo-caption">Find a Random Movie</p>
      <p class="light center">
        Feeling lucky? Search for a random movie list for your viewing pleasure.
        <!-- add wording for recommendations -->
      </p>
    </div>
  </div>
  <div class="col s4">
    <div class="center-promo">
      <i class="material-icons">person</i>
      <p class="promo-caption">Create an Account</p>
      <p class="light center">
        Login with Google to become a member and create your own movie list.
      </p>
    </div>
  </div>
  <div class="col s4">
    <div class="center-promo">
      <i class="material-icons">playlist_add</i>
        <p class="promo-caption">Create Your Own List</p>
          <p class="light center">
          Already logged in? Get started and create a movie list.
        </p>
    </div>
  </div>
</div>

<%- include ./_partials/footer.ejs %>