<%- include ./_partials/header.ejs %>

<div class="slider">
  <ul class="slides">
    <li>
      <img src="https://image.tmdb.org/t/p/original/55LP95aktZlGn2uRKO15qEUrIfU.jpg">
      <div class="caption center-align">
        <h3>Welcome to<br>Found Footage</h3>
        <h5 class="light grey-text text-lighten-3">We don't know how but you've found us!<br>Now start finding new movies to watch.</h5>
      </div>
    </li>
    <li>
      <img src="https://image.tmdb.org/t/p/original/dU1CArBM4YsKLfG8YvhtuTJJaGR.jpg"> 
      <div class="caption left-align">
        <h3>Discover New<br>Movie Recommendations</h3>
        <h5 class="light grey-text text-lighten-3">Search for individual movies<br>or viewing other users' movie lists.</h5>
      </div>
    </li>
    <li>
      <img src="https://image.tmdb.org/t/p/original/3xMOfKkLLPyGbCdK84jV8H9V52f.jpg"> 
      <div class="caption right-align">
        <h3>Want to Share<br>a Movie List?</h3>
        <h5 class="light grey-text text-lighten-3">Login with your Google account<br>to create and share your own movie lists.</h5>
      </div>
    </li>
  </ul>
</div>

<div class="container">
  <div class="row">
    <div class="col s4">
      <div class="center-promo">
        <a href="/random" i class="material-icons">youtube_searched_for</i></a>
        <p class="promo-caption">Find a Random Movie List</p>
        <p class="light center">
          Do you feel lucky, punk? Search for a random movie list for your viewing pleasure.
        </p>
      </div>
    </div>
    <div class="col s4">
      <div class="center-promo">
        <a href="/auth/google" i class="material-icons">person</i></a>
        <p class="promo-caption">Login with Google</p>
        <p class="light center">
          Use your existing Gmail account to become a member and create your own movie list.
        </p>
      </div>
    </div>
    <div class="col s4">
      <div class="center-promo">
        <i class="material-icons">playlist_add</i>
          <p class="promo-caption">Create Your Own List</p>
            <p class="light center">
            Already logged in? Get started and create a movie list.
          </p>
      </div>
    </div>
</div>

<%- include ./_partials/footer.ejs %>