<%- include ./_partials/header.ejs %>
<form method"post" action="usersList/random">
<button type="button" name="random" id="random">I'm feeling lucky</button>
</form>
<%- include ./_partials/footer.ejs %>