body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

nav {
  background-color: #37474f;
}

.brand-logo {
  width: 220px;
  top: 5px;
}

.slider {
  font-family: 'Abel', sans-serif;  
}

.material-icons {
  font-size: 50pt;
}