</main>
<footer class="page-footer">
  <!-- <div class="container">
    <div class="row">
      <div class="col s12">
        <h5 class="white-text">Footer</h5>
        <p class="grey-text text-lighten-4">Powered by... </p>
      </div>
    </div>
  </div> -->
  <div class="footer-copyright">
    <div class="container">
    © 2017 Copyright Team LTD
    <p class="text-lighten-6">This product uses the TMDb API but is not endorsed or certified by TMDb.</p>
    <img class="right footer-logo" src="https://www.themoviedb.org/assets/static_cache/9b3f9c24d9fd5f297ae433eb33d93514/images/v4/logos/408x161-powered-by-rectangle-green.png"</img>
    </div>
  </div>
</footer>
    
    <script src="/javascript/app.js"></script>
  </body>
</html>